[type="checkbox"] {
    display: none;
}

.toggle {
    position: relative;
    display: inline-block;
    counter-increment: Counter; /* 1 */
}

.toggle::before {
    content: counter(Counter); /* 2 */
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: 700;
    color:pink
}

.toggle 
.toggle-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-switch {
    position: relative;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    background-color: #ebebeb;
    transition: all 0.3s ease;
    border: 1px solid #c3c3c3;
}

.toggle-switch::before,
.toggle-switch::after {
    content: "";
    position: absolute;
}

.toggle-switch::before {
    left: -2px;
    top: -4px;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.3s;
    border: 1px solid #c3c3c3;
}

.toggle-switch::after {
    top: 50%;
    right: 8px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    background-size: 12px 12px;
}

.toggle [type="checkbox"]:checked+.toggle-label .toggle-switch {
    background: #e1013c;
}

.toggle [type="checkbox"]:checked+.toggle-label .toggle-switch::before {
    transform: translateX(50px);
}

.toggle [type="checkbox"]:checked+.toggle-label .toggle-switch::after {
    width: 14px;
    height: 14px;
    left: 4px;
    background-size: 14px 14px;
}

.toggle-inner::before {
    position: absolute;
    content: "No";
    left: 45px;
    bottom: 5.5px;
    z-index: 1;
    color: #c3c3c3;
}

.toggle [type="checkbox"]:checked+.toggle-label .toggle-inner::before {
    position: absolute;
    left: 13px;
    bottom: 5.5px;
    z-index: 1;
    content: "Yes";
    color: white;
}